:root {
  --clr-main: rgb(26, 155, 232);
  --clr-second: rgb(32, 33, 36);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 767px) {
  .wrapper { 
    max-width: 740px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    max-width: 962px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1170px;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

body {
  margin: 0;
  font-family: sans-serif;
}


/* Section Heading Text */
.section-heading {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #273444;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* .featured {
  background-color: #fcfcfc;
} */

.section-heading::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%);
  background-color: var(--clr-main);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}



/* Header And nav bar */
.header {
  background-color: var(--clr-main);
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header .wrapper h1 {
  font-family: 'Marhey', sans-serif;
  margin: 0;
}
.header .wrapper > h1 a {
  font-size: 1.75rem;
  text-decoration: none;
  color: white;
}

.header .wrapper .search-field {
  position: relative;
  padding-left: 35px;
  background-color: white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
}

.header .wrapper .search-field input {
  padding: 10px 20px 10px 0;
  font-size: 1rem;
  border: none;
  outline: none;
}

.header .wrapper .search-field svg {
  position: absolute;
  width: 30px;
  height: 22px;
  fill: #444;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}


/* Landing Content */
.landing {
  background-image: url("/frontend/src/images/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
}

.landing .wrapper {
  /* background-image: url("/frontend/src/images/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  /* height: 350px; */
  position: relative;
  height: 100%;
}

.landing h1 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 500pxs;  
  font-size: 2.5rem;
}


/* Book Card */
/* .books .wrapper {
  padding-top: 50px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.books .book {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition:  0.3s;
  -webkit-transition:  0.3s;
  -moz-transition:  0.3s;
  -ms-transition:  0.3s;
  -o-transition:  0.3s;
}

.books .book:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.books .book img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  width: 200px;
  height: 290px;
  object-fit: contain;
}

.books .book .book-info {
  padding: 20px;
}

.books .book-info h3 {
  font-size: 1.25rem;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 10px;
}

.books .book-info .title {
  text-decoration: none;
  color: var(--clr-second);
} */


/* Pagination buttons */
.pagination {
  width: fit-content;
  margin: 40px auto;

}

.pagination button {
  border: none;
  padding: 7px 30px;
  background-color: var(--clr-main);
  font-size: 1rem;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.pagination .page-number { 
  margin-left: 20px;
  margin-right: 20px;
}


/* Book Card */
.books {
  position: relative;
  display: flex;
  overflow: hidden;
  gap: 20px;
}

.book {
  flex: 0 0 auto;
  border: 1px solid #aaa;
  overflow: hidden;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.book:first-of-type {
  margin-left: 60px;
}

.book img {
  max-width: 100%;
  width: 220px;
  height: 300px;  
}

.book .book-info {
  padding: 5px;
}


.book .book-info h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1rem;
}

.book .book-info .title {
  color: #273444;
  text-decoration: none;
}

.book .book-info .title::after {
  content: "";
  position: absolute;
  inset: 0;
}

.book .book-info .price {
  color: rgb(75, 79, 88); 
}

.book .book-info .price-currency   {
  font-size: 1.25rem;
}

.book .book-info .price-value {
  font-size: 1rem;
}

/* Slider */

.slider .btn-prev, 
.slider .btn-next {
  border: none;
  height: 100%;
  width: 80px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2.5rem;
  color: #333;
}

.slider .btn-prev { 
  left: 0;
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0), #fff 100%);
  display: none;
}

.slider .btn-next {
  right: 0px;
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0), #fff 100%);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}


